<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title>Shopping List</ion-title>

    <ion-buttons slot="end">
      <app-profile-picture></app-profile-picture>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list lines="none">

    <ng-container *ngFor="let category of categories | keyvalue">

      <ion-item button (click)="toggleCategory(castCategory(category.key))">

        <ion-label>
          {{ category.key | titlecase }}
          <span *ngIf="itemsByCategory[castCategory(category.key)] && itemsByCategory[castCategory(category.key)].length > 0">
            ({{ getCompletedItemsCount(castCategory(category.key)) }}/{{ getTotalItemsCount(castCategory(category.key)) }})
          </span>
        </ion-label>

        <ion-icon [name]="category.value ? 'chevron-up' : 'chevron-down'"></ion-icon>

      </ion-item>

      <div *ngIf="categories[castCategory(category.key)]">

        <ion-item
          *ngFor="let item of itemsByCategory[castCategory(category.key)]; let i = index"
          class="added-item">

          <ion-checkbox
            slot="start"
            [checked]="item.checked"
            (ionChange)="toggleItem(item)"
            class="checkbox padding">
          </ion-checkbox>

          <ion-label>x{{ item.quantity }} {{ item.name }}</ion-label>

          <ion-icon name="trash" (click)="deleteItem(castCategory(category.key), item.id!)"></ion-icon>

        </ion-item>

        <div class="button-container">

          <ion-item (click)="addItem(castCategory(category.key))" class="add-button">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label>Add</ion-label>
          </ion-item>

          <ion-item (click)="clearCategory(castCategory(category.key))" class="delete-button">
            <ion-icon name="trash"></ion-icon>
            <ion-label>Delete All</ion-label>
          </ion-item>

        </div>

      </div>

    </ng-container>

  </ion-list>

</ion-content>
