

<ion-content>

  <div id="border">

    <div class="backButton" (click)="goBack()">
      <ion-icon aria-hidden="true" name="arrow-back-outline" style="font-size: 40px;"></ion-icon>
    </div>

    <div class="ion-padding">
      <h1>Sign In</h1>
    </div>

    <div id="margined">

      <form (ngSubmit)="signup()" #signupForm="ngForm">
        
        <!-- Profile Picture -->
        <div class="photo">

          <input type="file" (change)="onImageSelected($event)" accept="image/*" hidden #fileInput>

          <img [src]="imagePreview || 'https://www.pngkey.com/png/full/52-523516_empty-profile-picture-circle.png'" 
                (click)="fileInput.click()"
                class="upload-placeholder"
                alt="Upload">

            <button *ngIf="imagePreview" (click)="deleteImage()" class="remove-btn"><ion-icon name="trash"></ion-icon> Remove Image</button>
        </div>

        <!-- First Name -->
        <ion-item lines="none">
          <ion-label position="stacked">First Name</ion-label>
          <ion-input type="text" [(ngModel)]="firstName" name="firstName" required></ion-input>
        </ion-item>

        <!-- Last Name -->
        <ion-item lines="none">
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="lastName" name="lastName" required></ion-input>
        </ion-item>

        <!-- Username -->
        <ion-item lines="none">
          <ion-label position="stacked">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

        <!-- Cooking Skill Level -->
        <ion-item lines="none">
          <ion-label position="stacked">Cooking Skill Level</ion-label>

          <ion-select [(ngModel)]="cookingSkillLevel" name="cookingSkillLevel" placeholder="Select Cooking Level...">
            <ion-select-option value="Beginner">Beginner</ion-select-option>
            <ion-select-option value="Intermediate">Intermediate</ion-select-option>
            <ion-select-option value="Advanced">Advanced</ion-select-option>
          </ion-select>

        </ion-item>

        <!-- Email -->
        <ion-item lines="none">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item lines="none">
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" class="signUp" [disabled]="!signupForm.valid">Sign Up</ion-button>

        <!-- Error message -->
        <div *ngIf="errorMessage" style="color: red; padding-top: 10px;">
          {{ errorMessage }}
        </div>
      </form>

    </div>

  </div>
</ion-content>

